@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.test {
    background-color: brown;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #ffff;
}

::-webkit-scrollbar-thumb {
    background: #CBD5E0;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #CBD5E0;
}
